body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.lyrics {
    margin: 50px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.lyrics p {
    margin: 0;
    line-height: 1.6;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.controlButton {
    background-color: rgba(255, 255, 255, 0.8);
    border: 3px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.controlButton:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
