<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="static/404.css" class="css">
</head>
<body>
    <div class="container">
        <h1 class="heading">404</h1>
        <h2 class="subheading">Lyrics Not Found!</h2>
        <p>This song was not found in our database!</p>
        <a href="/" class="link">Go back to homepage</a>
    </div>
</body>
</html>
